body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: #15172c;
    color: #dddacf;
    font-family: 'Proza-libre';
}

#form-container {
    display: grid;
    grid-gap: 1rem;
}

#value-input {
    width: 4rem;
    height: 1.5rem;
}

#description-input {
    width: 15rem;
    height: 1.5rem;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

