ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container { 
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.description {
    max-width: 50%;
    word-break: break-all;
}

.value {
    display: flex;
    align-items: center;
    word-break: break-all;
}
