ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 1.5rem;
    padding: 0rem 1rem;
    animation-name: item-list;
    animation-duration: .2s;
}

.container.expense {
    background-color: red;
}

.container.income {
    background-color: green;
}

.container:hover #delete-button{
    opacity: 1;
    cursor: pointer;
}

.description {
    max-width: 50%;
    word-break: break-all;
}

.value {
    display: flex;
    align-items: center;
    word-break: break-all;
}

#delete-button {
    opacity: 0;
    transition: all .2s;
    transform: scale(0.6);
}

#delete-button:hover{
    transform: scale(0.8);
}

@keyframes item-list {
    0% {
        opacity: 0;
        transform: translateY(-1.5rem);
    }

    85% {
        opacity: 1;
        transform: translateY(0.2rem);
    }

    100% {
        transform: translateY(0rem);
    }
}